* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 112px;
}

body {
    background-color: white;
}

/* Header section start  */
.header .logo {
    float: left;
    color: rgb(255, 77, 0);
    font-size: 35px;
}

.header {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #f2ecec;
    margin: 2px;
    padding: 28px;
    box-shadow: red;
    z-index: 999;
}

.header a {
    float: left;
    padding-left: 76px;
    margin-top: 15px;
    text-decoration: none;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
}

.navbar a:hover {
    cursor: pointer;
    color:  rgb(255, 77, 0);
}

.header .icons i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 8px;
    color: black;
    background: white;
    font-size: 25px;
    margin-right: 3px;
}

.header .icons i:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(255, 77, 0);
}

/* Header section End  */
/* home section start  */
.home {
    color: beige;
    text-align: center;
    background-image: url(veg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 84px;
    width: auto;
}

.home .heading span {
    color: rgb(183 232 176 / 100%);
}

.home .btn {
    padding: 2px;
    margin: 40px;
    cursor: pointer;
    color: black;
    background-color: beige;
}

/* home section End  */
/* Features section start  */
.features {
    text-align: center;

}

.heading {

    padding: 16px;
}

.features .heading span {
    padding: 8px 48px;
    color: white;
    display: inline-block;
    background-color: rgb(255, 77, 0);
    clip-path: polygon(100% 0%, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);


}

.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 24px;

}

.features .box-container .box img {
    width: 236px;
    margin: -10px;
    padding: 21px;
}

.features .box-container .box {
    padding: 48px 32px;
    background-color: white;
    border: 2px solid;
    box-shadow: 0 8px 16px black;
    border: 2px solid black;
    outline: 1px solid black;

}

.features .box-container .box .btn {
    border: 2px solid black;
    padding: 2px;
    margin: 3px;
    cursor: pointer;
    color: black;
    background-color: beige;
}

/* Features section End  */
/* Category section start  */
.category {
    text-align: center;
}

.category .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 24px;
}

.category .box-container .box img {
    width: 236px;
    margin: -10px;
    padding: 21px;
}

.category .box-container .box {
    padding: 3rem 2rem;
    background-color: white;
    box-shadow: 0 8px 16px black;
    border: 2px solid black;
    outline: 1px solid black;

}

.category .heading span {
    padding: 8px 48px;
    color: white;
    display: inline-block;
    background-color: rgb(255, 77, 0);
    clip-path: polygon(100% 0%, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);


}

.category .box-container .box p {
    font-size: medium;


}

.category .box-container .box h3 {
    font-size: large;
}

.category .box-container .box .btn {
    border: 2px solid black;
    padding: 2px;
    margin: 40px;
    cursor: pointer;
    color: black;
    background-color: beige;
}

/* Category section End  */
/* Customer's Review section Start  */
.review {
    text-align: center;
}

.review .heading span {
    padding: 8px 48px;
    color: white;
    display: inline-block;
    background-color: rgb(255, 77, 0);
    clip-path: polygon(100% 0%, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);


}

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 24px;
}

.review .box-container .box img {
    width: 236px;
    border-radius: 100px;
    padding: 21px;

}

.review .box-container .box {
    padding: 48px 32px;
    background-color: white;
    box-shadow: 0 8px 16px black;
    border: 2px solid black;
    outline: 1px solid black;

}

.review .box-container .box h2 {
    margin-top: 20px;
    font-size: large;
}

.checked {
    color: orange;
}


/* Customer's Review section End  */
/* Blog section Start  */
.blog {
    text-align: center;
}

.blog .heading span {
    padding: 8px 48px;
    color: white;
    display: inline-block;
    background-color: rgb(255, 77, 0);
    clip-path: polygon(100% 0%, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);


}


.blog .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 24px;
}

.blog .box-container .box img {
    width: 236px;
    margin: -10px;
    padding: 21px;
}

.blog .box-container .box {
    padding: 48px 32px;
    background-color: white;
    box-shadow: 0 8px 16px black;
    border: 2px solid black;
    outline: 1px solid black;
}


.blog .box-container .box .btn {
    border: 2px solid black;
    padding: 3px 3px 3px 4px;
    margin: 40px;

    cursor: pointer;
    color: black;
    background-color: beige;
}

.blog .box-container .box .content p {
    padding-bottom: 20px;
}






/* Blog section End  */
/* footer section start */
.footer {
    background-color: white;
    margin-left: 20px;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
}

.footer .box-container .box h3 {
    font-size: 40px;
    color: black;
    padding: 16px 0;
}

.footer .box-container .box h3 i {
    color: rgb(255, 77, 0);
}

.footer .box-container .box a {
    display: block;
    font-size: 20px;
    color: black;
    padding: 16px 0;
}

.footer .box-container .box a i {
    color: rgb(255, 77, 0);
    padding-right: 8px;
}

.footer .box-container .box a:hover i {
    padding-right: 32px;
}

.footer .box-container .box p {
    line-height: 24px;
    font-size: 20px;
    color: black;
    padding: 16px 16px;
}


/* footer section end */